@using WebApplication1.Models
@model BankProductsModel
@{
    ViewBag.Title = "Productos";
}

<style>
    body {
        background-image: none;
    }

    .container {
        max-width: 100%;
    }
</style>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 font-associated-bar">
        <a href="~/BankProducts/Credit"><span>Cr&eacute;dito</span></a> |
        <a href="~/BankProducts/Product"><span>Solicitud de Productos</span></a> |
        <span>PAP</span>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center ">
        @*<img class="btn-new-associated-title" alt="Simulador de Crédito" src="~/Images/BTN-PAP.png" />*@
        <h3>PAP</h3>
    </div>

    @using (Html.BeginForm("BankProducts", "Simulate", "", FormMethod.Post, new { @class = "form-horizontal margin-top-2pt", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.aprovedAmount, "Monto de Ahorro", new { @class = "col-md-5 col-lg-5 col-xs-5 col-sm-5 control-label font-label-associated" })
            <div class="col-md-7 col-lg-7 col-xs-7 col-sm-7">
                @Html.TextBoxFor(m => m.product, new { @class = "form-control", id = "text_amount" })
                @Html.ValidationMessageFor(m => m.document, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group text-center">
            @*<img src="~/Images/boton_login.png" style="padding-bottom: 2%;cursor:pointer;" onclick="$(this).closest('form').submit();" />*@
            <img id="btn_saving" alt="Registrar" src="~/Images/btn-ahorrar.png" class="btn-new-associated" />
        </div>
    }
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header alert alert-success">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">&nbsp;</h4>
            </div>
            <div class="modal-body text-center">
                Se envi&oacute; la solicitud de apertura de PAP.<br />En breve un asesor le confirmar&aacute; el tr&aacute;mite.
            </div>
        </div>

    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {

        $('#text_amount').val('$70.000');
        $('#btn_saving').on('click', function ()
        {
            $('#myModal').modal('show');
            $('#text_amount').val('');
        });
    });
</script>
